# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env

# Archivos generados en ejecucion
backups/
backend/backups/
backend/logs/
backend/uploads/
*.dump
backend/database_export.sql
